html {
  box-sizing: border-box;
}

body {
  background: linear-gradient(#615dad, #ffc8da);
  line-height: 1.5;
  text-align: center;
  font-family: sans-serif;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.container-index {
  display: flex;
  flex-direction: column;
  width: 380px;
  color: white;
  margin: 50px auto;
}

.image {
  border-radius: 7px 7px 0 0;
}

h1 {
  font-family: 'Lobster', cursive;
  font-size: 50px;
  font-weight: lighter;
  margin-bottom: 0;
  margin-top: 15px;
}

.text-index {
  background-color: #283e50;
}

p {
  padding: 0 20px 15px 20px;
}

.button {
  list-style-type: none;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 10px 0px;
}

.rules-btn,
.home-btn {
  background-color: #1fcca4;
  margin-bottom: 1px;
}

.play-btn {
  background-color: #0197f6;
}

.rules-btn a:hover,
.home-btn a:hover {
  background-color: #1cbb96;
}

.play-btn a:hover {
  background-color: #0090e9;
}

.rules-btn a:focus,
.play-btn a:focus,
.home-btn a:focus {
  outline: 1px solid black;
}

/* ------------------------Pravidla---------------------------- */

.rules-text {
  background-color: #283e50;
  width: 372px;
  margin: 50px auto;
  border-radius: 7px 7px 0 0;
  color: white;
}

.container-rules h1 {
  padding-top: 30px;
}

.rules-list {
  padding: 5px 75px 20px 70px;
}

.symbol {
  width: 1em;
  height: 1em;
  filter: invert(100%);
}

.rules-img img {
  max-width: 100%;
}

.rules-list li {
  padding-left: 10px;
  padding-top: 10px;
  text-align: left;
}

figure {
  font-size: 16px;
  font-style: italic;
}

@media (min-width: 800px) {
  .rules-text {
    width: 770px;
  }
  .rules-img {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  figure {
    max-width: 45%;
    margin: 0 0 30px 0;
  }
}

/* -------------------------------------------------- */

.container-play {
  max-width: 80vmin;
  color: white;
  margin: auto;
}

.panel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

h2 {
  margin: 0;
}

.container-play ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.container-play a {
  padding: 0;
}

.container-play .icon {
  border-radius: 10%;
  margin-left: 10px;
}

.play-button {
  display: flex;
  flex-wrap: wrap;
}

.container-play button {
  padding: 0;
  width: 10%;
  height: 40px;
  border: 1.5px solid #283e50;
  opacity: 50%;
}

button:hover,
button:focus {
  opacity: 80%;
}
