body {
  background: linear-gradient(#e66465, #9198e5);
  line-height: 1.5;
  text-align: center;
  font-family: sans-serif;
}

h1 {
  font-family: 'Lobster', cursive;
  font-size: 50px;
  font-weight: lighter;
  margin-bottom: 0;
}

.container {
  display: flex;
  flex-direction: column;
  width: 380px;
  color: white;
  position: absolute;
  top: 20%;
  left: 40%;
}

p {
  padding: 0 20px 15px 20px;
}

.text {
  background-color: #283e50;
}

.foto {
  border-radius: 10px 10px 0 0;
}

a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 10px 0px;
}

.pravidla {
  background-color: #1fcca4;
}

.hrat {
  background-color: #0197f6;
}

.pravidla a:hover {
  background-color: #1cbb96;
}

.hrat a:hover {
  background-color: #0090e9;
}

li {
  list-style-type: none;
}

ul {
  margin: 0;
  padding: 0;
  width: 380px;
}
