html {
  box-sizing: border-box;
}

/* * {
  outline: 1px solid black;
} */

body {
  background: linear-gradient(#615dad, #ffc8da);
  line-height: 1.5;
  text-align: center;
  font-family: sans-serif;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.container-index {
  display: flex;
  flex-direction: column;
  width: 380px;
  color: white;
  margin: 50px auto;
}

.image {
  border-radius: 7px 7px 0 0;
}

h1 {
  font-family: 'Lobster', cursive;
  font-size: 50px;
  font-weight: lighter;
  margin-bottom: 0;
  margin-top: 15px;
}

.text-index {
  background-color: #283e50;
}

p {
  padding: 0 20px 15px 20px;
}

.button {
  list-style-type: none;
}

ul {
  margin: 0;
  padding: 0;
}

.container-index a,
.container-rules a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 10px 0px;
}

.rules-btn,
.home-btn {
  background-color: #1fcca4;
  margin-bottom: 1px;
}

.play-btn {
  background-color: #0197f6;
}

.rules-btn a:hover,
.home-btn a:hover {
  background-color: #1cbb96;
}

.play-btn a:hover {
  background-color: #0090e9;
}

.rules-btn a:focus,
.play-btn a:focus,
.home-btn a:focus {
  outline: 1px solid black;
}

/* ------------------------Pravidla---------------------------- */

.rules-text {
  background-color: #283e50;
  width: 372px;
  margin: 50px auto;
  border-radius: 7px 7px 0 0;
  color: white;
}

.container-rules h1 {
  padding-top: 30px;
}

.rules-list {
  padding: 5px 75px 20px 70px;
}

.symbol {
  width: 1em;
  height: 1em;
  filter: invert(100%);
  vertical-align: -0.15em;
  padding-left: 0.1em;
}

.rules-img img {
  max-width: 100%;
}

.rules-list li {
  padding-left: 10px;
  padding-top: 10px;
  text-align: left;
}

figure {
  font-size: 16px;
  font-style: italic;
}

@media (min-width: 768px) {
  .rules-text {
    max-width: 750px;
  }
  .rules-img {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  figure {
    max-width: 45%;
    margin: 0 0 30px 0;
  }
}

/* -------------------------------------------------- */

.container-game {
  max-width: 80vmin;
  display: flex;
  flex-direction: column;
  color: white;
  margin: auto;
}

.panel {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.panel p {
  font-size: 28px;
  margin: 0;
  padding: 0;
}

.container-game ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.container-game a {
  border-radius: 10%;
  margin-left: 10px;
  display: block;
  padding: 9px 9px 4px 9px;
}

.game-button {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  border: 1.5px solid black;
}

.single-game-button {
  padding: 0;
  width: 8vmin;
  height: 8vmin;
  border: 1.5px solid black;
  background-color: transparent;
  background: rgba(255, 230, 230, 0.5);
}

button:hover,
button:focus {
  cursor: pointer;
  opacity: 70%;
}

.board__field--circle {
  background-image: url('podklady/circle.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
  animation-duration: 0.2s;
  animation-name: animateSymbol;
}

.board__field--cross {
  background-image: url(podklady/cross.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 70%;
  animation-duration: 0.2s;
  animation-name: animateSymbol;
}

button:disabled {
  opacity: 100%;
}

@keyframes animateSymbol {
  from {
    background-size: 10%;
  }
  to {
    background-size: 70%;
  }
}
