html {
  box-sizing: border-box;
}

body {
  background: linear-gradient(#615dad, #ffc8da);
  line-height: 1.5;
  text-align: center;
  font-family: sans-serif;
  background-size: cover;
  height: 100vh;
}

.container-index {
  display: flex;
  flex-direction: column;
  width: 380px;
  color: white;
  margin: 50px auto;
}

.container-rules {
  width: 500px;
  color: white;
  margin: 50px auto;
}

.foto {
  border-radius: 7px 7px 0 0;
}

h1 {
  font-family: 'Lobster', cursive;
  font-size: 50px;
  font-weight: lighter;
  margin-bottom: 0;
  margin-top: 15px;
}

.text {
  background-color: #283e50;
}

p {
  padding: 0 20px 15px 20px;
}

.button {
  list-style-type: none;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 10px 0px;
}

.pravidla {
  background-color: #1fcca4;
  margin-bottom: 1px;
}

.hrat {
  background-color: #0197f6;
}

.pravidla a:hover {
  background-color: #1cbb96;
}

.hrat a:hover {
  background-color: #0090e9;
}

.pravidla a:focus,
.hrat a:focus {
  outline: 1px solid black;
}

.rules {
  text-align: left;
  margin: 0;
}

.rules-img img {
  width: 145px;
}

.rules img {
  width: 1em;
  height: 1em;
  filter: invert(100%);
}

.rules li {
  padding-left: 15px;
  padding-top: 10px;
}

figure {
  font-size: 10px;
}
